@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        --animate-duration: 0.8s;
    }

    .layout-header {
        width: 100%;
        z-index: 100;
        position: fixed;
        background-color: #25435D;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    }

    .layout-main {
        z-index: 99;
        flex: 1 0 auto;
        overflow: hidden;
        position: relative;
        padding-top: 120px;
        min-height: calc(100vh - 310px);
    }

    .layout-footer {
        z-index: 100;
        flex-shrink: 0;
        background: linear-gradient(rgb(13, 29, 42) -37.3%, rgb(35, 64, 89) 46.45%, rgb(37, 67, 93) 100%);
    }
}

img {
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

a {
    transition: all 0.2s ease-out!important;
    -webkit-tap-highlight-color: transparent!important;
}

button {
    transition: all 0.2s ease-out!important;
    -webkit-tap-highlight-color: transparent!important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background-color: #EE403D;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #EE403D;
    border-radius: 20px;
}

.grecaptcha-badge {
    display: none !important;
    z-index: 100000;
}

.pjAcceptCookieBarBtn {
    font-weight: 700;
    color: #FFFFFF!important;
    background: #EE403D!important;
    border-radius: 70px!important;
}

.pjAcceptCookieBarBtn:after {
    border-bottom-color: #EE403D!important;
    background: #EE403D!important;
    border-radius: 70px!important;
}

#pjAcceptCookieBar {
    background: #25435D!important;
}

.pjAcceptCookieBarBtn:hover {
    border-radius: 70px!important;
}
